* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100vh; 
    background-color: rgb(50, 50, 50);
}

button {
    background-color: #FF4E00;
    border-style: none;
    padding: 5px;
    border-radius: 5px;
    width: 120px;
    height: 35px;
    color: white;
    margin-top: 15px;
    line-height: 1.5;
    cursor: pointer;
}

.descricao {
    display: flex;
    flex-direction: row;
    position: relative; 
}

.esq {
    width: 60%;
}

.dir {
    width: 40%;
    padding-left: 20px; 
    padding-right: 40px; 
}

.principal {
    margin-left: 70px; 
    padding: 20px 0px 20px 20px;
}

.exemplo {
    color: rgb(202, 201, 201);
    font-size: 13px;
}

.produto {
    width: 100%;
}

input {
    margin-top: 10px;
    padding: 8px;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(232, 231, 231);
}

h2, .cor {
    color: #FF4E00;
}

h3 {
    margin-bottom: 5px;
}

.dica {
    display: flex;
    align-items: center;
}

.dica img {
    margin-right: 8px;
    width: 40px;
    height: auto;
}

.cardapio_ao_vivo {
    position: absolute;
    right: 0;
    top: 0; 
    background-color: #FF4E00;
    padding: 9px;
    width: 40px;
    height: 250px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cardapio-texto {
    color: white;
    font-weight: bold;
    font-size: 18px;
    transform: rotate(270deg);
    white-space: nowrap;
}

.indicador {
    position: absolute;
    top: 20px;
    width: 20px;
    height: 20px;
    background-color: #a5d6a7;
    border-radius: 50%;
    border: 3px solid white;
}

form {
    margin: 10px;
    width: 600px;
    padding: 10px;
    border: 1.5px solid #f8f5f5;
    border-radius: 2px;
}

.editar img {
    width: 15px;
    margin-top: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}

.grid2 {
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 15px;
}

.form2 {
    width: 90%;
}

table {
    margin-top: 15px;
    width: 100%;
    border-collapse: collapse;
}

th {
    padding: 5px;
}

table, th, td, tr {
    font-weight: normal;
    text-align: left;
    border: 1px solid rgb(232, 231, 231);
    background-color: rgb(248, 248, 248);
}

td {
    width: 250px;
    height: auto;
    padding: 8px; 
}

.form1 {
    margin-right: 50px;
}

p {
    margin-right: 5px;
}
